<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="index, follow">

  <title>Chaveiro Chavlar 24h - Chaveiro em Florianópolis, São José, Palhoça e Biguaçu</title>
  <meta name="description" content="Somos um dos maiores chaveiros 24h da Grande Florianópolis. Atuamos com fechaduras tetra, cadeados, kit de segurança e controles para portões e alarmes">

  <link rel="stylesheet" href="{{ "{{base}}/css/main.css" | prepend: site.baseurl }}?{{site.time | date: '%s%N'}}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta property="og:type" content="website">
  <meta property="og:title" content="Chaveiro Chavlar 24h - Chaveiro em Florianópolis, São José, Palhoça e Biguaçu">
  <meta property="og:site_name" content="Chaveiro Chavlar 24h - Chaveiro em Florianópolis, São José, Palhoça e Biguaçu">
  <meta property="og:description" content="Somos um dos maiores chaveiros 24h da Grande Florianópolis. Atuamos com fechaduras tetra, cadeados, kit de segurança e controles para portões e alarmes">
  <meta property="og:url" content="http://www.chavlar.com.br/">
  <meta property="og:image" content="/img/og.png">
  <meta property="og:locale" content="pt_BR">


  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5H9D3QN');</script>
  <!-- End Google Tag Manager -->

  <script src="//code.jivosite.com/widget.js" jv-id="fFkfKAvJJQ" async></script>

  <!-- Global site tag (gtag.js) - Google Ads: 968014464 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-968014464"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-968014464');
  </script>

  <!-- Event snippet for Clique em um número exibido no site conversion page
  In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
  <script>
  function gtag_report_conversion(url) {
    var callback = function () {
      if (typeof(url) != 'undefined') {
        window.location = url;
      }
    };
    gtag('event', 'conversion', {
        'send_to': 'AW-968014464/Qm_nCImR0KYBEID1ys0D',
        'event_callback': callback
    });
    return false;
  }
  </script>

  <script>
    gtag('config', 'AW-968014464/0jvvCMPJ2KYBEID1ys0D', {
      'phone_conversion_number': '48999715087'
    });
  </script>




</head>
